.slider {
	width: 400px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}
#editor-stage{
	position:absolute;
	left:0px;
	top:0px;
	z-index:1000;
}
#sidebar{
	width:120px;
	position:absolute;
	left:900px;
	top:2px;
	z-index:900;
}
#preview{
	margin-top:30px;
}
.dropLabel{
	margin-right:30px;
}
.pop{
	margin-right:50px;
}
#fractionline{
	width:140px;
}
#logo{
	margin-bottom: 10px;
	z-index:10001;
}



#matching{
	float:left;
}

.warning{
	margin-right:20px;
	color:#ff0000;
}

.dropMenu{
	background-color:#FF9900;
}

.drop {
	margin-top:5px;
	margin-bottom:5px;
}

.stars{
	width:200px;
	margin-top:5px;
	margin-bottom:5px;
	clear:left;
	float:left;
	/*display:inline-block;*/
}
.starinfo{
	margin-top:10px;
	float:left;
}


.itemContainer {
	background: #ccc;
	margin-bottom: 4px;
	padding: 3px 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.matchType {
	border: 1px solid #ccc;
	background: #ececec;
	padding: 20px;
}

.matchRules {
	background: #ccc;
	margin-bottom: 4px;
	padding: 3px 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.formRow {
	clear: both;
	margin-bottom: 5px;
	float: left;
	width: 100%;
}

#cr-stage canvas {
	z-index: 10;
}
