@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	/* iPad fix for modal background and scrolling bug */
	body {
		overflow: hidden;
		position:fixed;
	}
}

.modal-body {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

legend {
	margin-bottom: 10px !important;
}

.slider {
	width: 400px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.popover {
	max-width: 500px !important;
}

#editor-stage{
	position:absolute;
	left:0px;
	top:0px;
	z-index:1000;
	width: 1024px;
	height: 748px;
	overflow: hidden;
}

#sidebar{
	width:120px;
	position:absolute;
	left:900px;
	top:2px;
	z-index:900;
}
#preview{
	margin-top:30px;
}
.dropLabel{
	margin-right:30px;
}

.menubtn {
	cursor: pointer;
}

.pop {
	margin-right:50px;
	font-size: 26px;
	font-weight: normal;
	line-height: 1.428571429;
	white-space: nowrap;
	vertical-align: middle;	
}

#logo{
	margin-bottom: 10px;
	z-index:10001;
}

.helpTxt {
	color: #666;
	font-style: italic;
	font-weight: normal;
}

.spaceTop {
	margin-top: 10px;
}

#matching,
#fractionTasks {
	overflow-y: auto;
	max-height: 120px;
	-webkit-overflow-scrolling: touch;
}

.warning{
	margin-right:20px;
	color:#ff0000;
}

.dropMenu{
	background-color:#FF9900;
}

.drop {
	margin-top:5px;
	margin-bottom:5px;
}

.stars{
	width:200px;
	margin-top:5px;
	margin-bottom:5px;
	clear:left;
	float:left;
	/*display:inline-block;*/
}
.starinfo{
	margin-top:10px;
	float:left;
}

.itemContainer {
	background: #ccc;
	margin-bottom: 4px;
	padding: 3px 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.matchType {
	border: 1px solid #ccc;
	background: #ececec;
	padding: 20px;
}

.matchRules {
	background: #ccc;
	margin-bottom: 4px;
	padding: 3px 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.formRow {
	clear: both;
	margin-bottom: 5px;
	float: left;
	width: 100%;
}

.vcentered {
	vertical-align: middle;
	display: table-cell;
	float: none !important;
}

#fractionWrapper {
	display: table;
	width: 100%;
}

.fractionNumber {
	margin-left: 30px;
	margin-right: 30px;
}

.fractionLine {
	border-top: 2px solid #757575;
}


#cr-stage canvas {
	z-index: 10;
}

.stageHelp {
	position: absolute;
	font-family: 'Architects Daughter', cursive;
	font-size: 20px;
	font-weight: 400;
	color: #000;
	text-align: center;
}
.stageHelp i.fa {
	display: block;
}

.playerHelp {
	top: 140px;
	left: 110px;
}

.collectiblesHelp {
	top: 25px;
	left: 420px;
}

.hazardsHelp {
	top: 25px;
	left: 635px;
}

.scrollHelp {
	width: 100%;
	position: absolute;
	font-family: 'Architects Daughter', cursive;
	font-size: 20px;
	font-weight: 400;
	color: #000;
	text-align: center;
	line-height: 100px;
	border-top: 2px #999 dashed;
}

.scroll1Help {
	top: 578px;
	left: 0px;
	background: rgba(150,0,0,0.1);
	height: 170px;
	z-index: 52;
}

.scroll2Help {
	top: 480px;
	left: 0px;
	background: rgba(0,150,0,0.1);
	height: 267px;
	z-index: 51;
}

.scroll3Help {
	top: 380px;
	left: 0px;
	background: rgba(0,0,150,0.1);
	height: 368px;
	z-index: 50;
}

#collectableSpeeds legend,
#hazardsSpeeds legend {
	font-size: 18px;
}


button.magosLiteBtn {
	position: absolute;
	min-width: 140px;
	font-family: 'Architects Daughter', cursive;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	z-index: 10;
}

#playBtn {
	top: 450px;
	left: 290px;
}

#editBtn {
	top: 450px;
	left: 490px;
}

.starsText {
	line-height: 50px;
}

.starsInput {
	padding-top: 8px;
	padding-right: 0;
}

#statusConsole {
	display:none;
	position:absolute;
	width:250px;
	background:#ececec;
	border:1px solid #ccc;
	z-index:2000;
	top:10px;
	right:10px;
	text-align:center;
	padding:10px;	
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

#addTaskSubmit {
	margin-bottom: 10px;
}

#matching {
	clear:both;
}
