{% load i18n %}
{% load crispy_forms_tags %}

{% if form %}
    <div id="createGameContainer">
        <h1>{% blocktrans %}Create a new game{% endblocktrans %}</h1>
		<p>{% blocktrans %}Here’s the place to start making a new Magos {{ gametype_text }} game.{% endblocktrans %}</p>
        <p>{% blocktrans %}Want to make a new Magos Lite game? First of all, give it a title and add a short description so that others can see it and select it.{% endblocktrans %}</p>
        <hr />
        <div class="col-xs-9">
            {% crispy form %}
        </div>
    </div>
{% endif %}
