{% extends "apps/game/game_base.html" %}
{% load i18n %}

{% block bodyclass %}create{% endblock %}

{% block content %}
<div class="row wide-content">
                    
    <div id="main-content" class="col-xs-8">
    {% if game %}
                   
        <h1>{{ game.title }}</h1>
        <p>Game permalink: <a href="{{base_url}}game/id/{{ game.id }}">{{base_url}}game/id/{{ game.id }}</p>
        {% if game.image %}
        <img src="{{ MEDIA_URL }}{{ game.image }}" class="game-image embedded">
        {% else %}
        <img src="{{ STATIC_URL }}img/default-game-image.png" class="game-image embedded">
        {% endif %}

        {% if game.creator %}
        <p>Created by {{ game.creator.username }}</p>
        {% endif %}

        {% if can_review %}
            <input type="range" value="{{ avg_stars }}" step="1" id="ratingSettings">
            <div class="rateit" data-gameid="{{ game.id }}" data-rateit-backingfld="#ratingSettings" data-rateit-min="0" data-rateit-max="5">
            </div>
            <div class="reviewInfo">({{ avg_stars }} average, {{ num_reviews }} votes)</div>
            <div id="response"></div>
        {% endif %}
        <p>
            <a class="btn btn-primary" href="{{ play_url }}{{ game.slug }}" target="_blank">Play game</a> 
            {% if can_edit %}
            <a class="btn btn-warning" href="{{ editor_url }}{{ game.slug }}" target="_blank">Launch game editor</a> {% endif %}
        </p>

        <hr />

        <p>{{ game.description }}</p>
        
        <hr />
        
        <div id="game-authors"></div>
        
        <div id="available-authors"></div>

        <hr />

        <p>Game created on {{ game.created }}</p>
        <p>Played 0 times</p>

        <hr />

        <h2>Comments</h2>
        <p><i>No comments yet.</i></p>
                
        <hr />
        {% if can_edit %}
            <button class="btn btn-danger" id="deleteGame" href="{% url 'delete_game' game.slug%}">Delete game</button>
        {% endif %}

    {% endif %}
    </div>
        
    <div id="sidebar" class="col-xs-4">
        <h2>Highscore</h2>
        {% if highscores %}
        <ol class="highscore-list">
        {% for highscore in highscores %}
            <li><span class="highscore_name">{{ highscore.user.first_name }} {{ highscore.user.last_name }}</span><span class="highscore_score">{{ highscore.score }}</span></li>
        {% endfor %}
        </ol>
        {% else %}
        <p>No highscore yet.</p>
        {% endif %}

        {% include 'apps/game/sidebar.html' %}
    </div>

</div>

{% endblock %}

{% block extrajs %}
<script>
var gameId = {{ game.id }},
    gameSlug = '{{ game.slug }}';

$(document).ready(function() {
	
    function redirectToLogin() {
    	window.location.href = '{{ login_url }}';
    }
    
	// Django Ajax CSRF token setup
	$.ajaxSetup({
	     beforeSend: function(xhr, settings) {
	         function getCookie(name) {
	             var cookieValue = null;
	             if (document.cookie && document.cookie != '') {
	                 var cookies = document.cookie.split(';');
	                 for (var i = 0; i < cookies.length; i++) {
	                     var cookie = jQuery.trim(cookies[i]);
	                     // Does this cookie string begin with the name we want?
	                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                     break;
	                 }
	             }
	         }
	         return cookieValue;
	         }
	         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	             // Only send the token to relative URLs i.e. locally.
	             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	         }
	     }
	});


    $('#main-content .rateit').bind('rated reset', function (e) {
        var ri = $(this);
        //if reset is pressed, it will get value: 0.
        var value = ri.rateit('value');
        var gameId = ri.data('gameid'); // if the product id was in some hidden field: ri.closest('li').find('input[name="productid"]').val()
         // disable voting
        //ri.rateit('readonly', true);
 
        $.ajax({
            dataType : 'json',
            url : '/game/rate/' + gameId + '/' + value,
            type: 'POST',
            success: function (data) {
                if (data.hasOwnProperty('not_authenticated')) {
                    redirectToLogin();
                    return;
                }

                 //$('#response').append('<li>' + data + '</li>');
            },
            error: function (jxhr, msg, err) {
                 $('#response').append('<li style="color:red">' + msg + '</li>');
            }
        });
    });


    function bindAddAuthorSubmit() {
        $('form#add-author-to-game').on('submit', function(e) {
            e.preventDefault();
            var url = $(this).attr('action');
            var formData = $(this).serializeArray();
            var xhr = $.ajax({
                dataType : 'html',
                type: 'POST',
                data: formData,
                url : url
            });
            xhr.done(function(data) {
                getGameAuthors();
                getAvailableAuthors();
            });
        });
    }


    function bindRemoveAuthors() {
        $('.remove-author').on('click', function(e) {
            var username = $(this).data('username');
            $.ajax({
                dataType : 'json',
                url : '/game/remove-author/' + gameSlug + '/' + username,
                type: 'GET',
                success: function (data) {
                    getGameAuthors();
                },
                error: function (jxhr, msg, err) {
                }
            });
        });    
    }


    function getAvailableAuthors() {
        var xhr = $.ajax({
            dataType : 'html',
            url : '/game/available-authors/' + gameSlug,
            type: 'GET'
        });
        xhr.done(function(data) {
            $('#available-authors').html(data);
            bindAddAuthorSubmit();
        });
    }


    function getGameAuthors() {
        var xhr = $.ajax({
            dataType : 'html',
            url : '/game/game-authors/' + gameSlug,
            type: 'GET'
        });
        xhr.done(function(data) {
            $('#game-authors').html(data);
            bindRemoveAuthors();
            getAvailableAuthors();
        });
    }


    function bindDeleteGame() {
        $('#deleteGame').on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            return bootbox.confirm("Are you sure?", function(result) {
                if (result) {
                  window.location = url;
                } else {
                    bootbox.hideAll();
                }                
            });
        });
    }

    getGameAuthors();
    bindDeleteGame();

}); // document ready
</script>
{% endblock %}
