{% extends "apps/game/game_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block bodyclass %}create{% endblock %}

{% block content %}
<div class="row wide-content">
                    
    <div id="main-content" class="col-xs-8">
    {% if game %}
                   
        <h1>{{ game.title }}</h1>
        <p>{% trans 'Game permalink' %}: <a id="gamePermalink" href="{{base_url}}game/id/{{ game.id }}">{{base_url}}game/id/{{ game.id }}</a></p>
        {% if game.image %}
            <img src="{{ MEDIA_URL }}{{ game.image }}" class="game-image embedded">
            {% if can_edit %}
                <div class="row add_game_image">
                    <button class="btn btn-danger" id="deleteGameImage" href="{% url 'delete_game_image' game.slug %}">{% trans 'Delete image' %}</button>
                </div>
            {% endif %}
        {% else %}
            {% if can_edit %}
                <div class="row add_game_image">
                    <div id="main-content" class="well col-xs-6">
                        <form role="form" action="{% url 'game_details' gameslug=game.slug %}" id="addGameImageForm" class="form-horizontal" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            {{ image_form|crispy }}
                            <button type="submit" name="addGameImage" id="addGameImage" class="btn btn-success">{% trans 'Add game image' %}</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <img src="{{ STATIC_URL }}img/default-game-image.png" class="game-image embedded">
            {% endif %}
        {% endif %}

        {% if game.creator %}
            <p>{% blocktrans with game_creator=game.creator.username %}Game created by {{ game_creator }}.{% endblocktrans %}</p>
        {% endif %}


        <div id="gameTags">
            <h5>{% trans 'Tags' %}</h5>
            {% if game.tags.all %}
                {% for tag in game.tags.all %}
                    {% if can_edit %}
                        <span class="tag label label-primary"><a href="#"><a class="removeTag" href="{% url 'delete_game_tag' gameslug=game.slug tagslug=tag.slug %}">&times;</button></a> {{ tag }}</span>
                    {% else %}
                        <span class="label label-primary">{{ tag }}</span>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>-</p>
            {% endif %}
            {% if can_edit %}
                <div id="addTags" class="well">
                    <form role="form" action="{% url 'game_details' gameslug=game.slug %}" id="addGameTagsForm" class="form-horizontal" method="post">
                        {% csrf_token %}
                        {{ tags_form|crispy }}
                        <button type="submit" name="addGameTags" id="addGameTags" class="btn btn-success">{% trans 'Add tags' %}</button>
                    </form>
                </div>            
            {% endif %}

        </div>

        {% if can_review %}
            <h5>{% trans 'Reviews' %}</h5>
            <input type="range" value="{{ avg_stars }}" step="1" id="ratingSettings">
            <div class="rateit" data-gameid="{{ game.id }}" data-rateit-backingfld="#ratingSettings" data-rateit-min="0" data-rateit-max="5">
            </div>
            <div class="reviewInfo">({{ avg_stars }} average, {{ num_reviews }} votes)</div>
            <div id="response"></div>
        {% endif %}
        <p>
            <a class="btn btn-primary" id="playGameBtn" href="{{ play_url }}{{ game.slug }}">{% trans 'Play game' %}</a> 
            {% if can_edit %}
            <a class="btn btn-warning" id="editGameBtn" href="{{ editor_url }}{{ game.slug }}">{% trans 'Launch game editor' %}</a> {% endif %}
        </p>

        <hr />

        <p>{{ game.description }}</p>
        
        <hr />
        
        <div id="game-authors"></div>
        
        <div id="available-authors"></div>

        <hr />

        <p>{% blocktrans with game_created=game.created %}Game created on {{ game_created }}.{% endblocktrans %}</p>

        <hr />

        <h2>{% trans 'Comments' %}</h2>
        <p><i>{% trans 'No comments yet.' %}</i></p>
                
        <hr />
        {% if can_edit %}
            <button class="btn btn-danger" id="deleteGame" href="{% url 'delete_game' game.slug%}">{% trans 'Delete game' %}</button>
        {% endif %}

    {% endif %}
    </div>
        
    <div id="sidebar" class="col-xs-4">
        <h2>Highscore</h2>
        {% if highscores %}
        <ol class="highscore-list">
        {% for highscore in highscores %}
            <li><span class="highscore_name">{{ highscore.user.first_name }} {{ highscore.user.last_name }}</span><span class="highscore_score">{{ highscore.score }}</span></li>
        {% endfor %}
        </ol>
        {% else %}
        <p>No highscore yet.</p>
        {% endif %}

        {% include 'apps/game/sidebar.html' %}
    </div>

</div>

{% endblock %}

{% block extrajs %}
<script>
var gameId = {{ game.id }},
    gameSlug = '{{ game.slug }}';

$(document).ready(function() {
	
    function redirectToLogin() {
    	window.location.href = '{{ login_url }}';
    }
    
	// Django Ajax CSRF token setup
	$.ajaxSetup({
	     beforeSend: function(xhr, settings) {
	         function getCookie(name) {
	             var cookieValue = null;
	             if (document.cookie && document.cookie != '') {
	                 var cookies = document.cookie.split(';');
	                 for (var i = 0; i < cookies.length; i++) {
	                     var cookie = jQuery.trim(cookies[i]);
	                     // Does this cookie string begin with the name we want?
	                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                     break;
	                 }
	             }
	         }
	         return cookieValue;
	         }
	         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	             // Only send the token to relative URLs i.e. locally.
	             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	         }
	     }
	});


    $('#main-content .rateit').bind('rated reset', function (e) {
        var ri = $(this);
        //if reset is pressed, it will get value: 0.
        var value = ri.rateit('value');
        var gameId = ri.data('gameid'); // if the product id was in some hidden field: ri.closest('li').find('input[name="productid"]').val()
         // disable voting
        //ri.rateit('readonly', true);
 
        $.ajax({
            dataType : 'json',
            url : '/game/rate/' + gameId + '/' + value,
            type: 'POST',
            success: function (data) {
                if (data.hasOwnProperty('not_authenticated')) {
                    redirectToLogin();
                    return;
                }

                 //$('#response').append('<li>' + data + '</li>');
            },
            error: function (jxhr, msg, err) {
                 $('#response').append('<li style="color:red">' + msg + '</li>');
            }
        });
    });


    function bindAddAuthorSubmit() {
        $('form#add-author-to-game').on('submit', function(e) {
            e.preventDefault();
            var url = $(this).attr('action');
            var formData = $(this).serializeArray();
            var xhr = $.ajax({
                dataType : 'html',
                type: 'POST',
                data: formData,
                url : url
            });
            xhr.done(function(data) {
                getGameAuthors();
                getAvailableAuthors();
            });
        });
    }


    function bindRemoveAuthors() {
        $('.remove-author').on('click', function(e) {
            var username = $(this).data('username');
            $.ajax({
                dataType : 'json',
                url : '/game/remove-author/' + gameSlug + '/' + username,
                type: 'GET',
                success: function (data) {
                    getGameAuthors();
                },
                error: function (jxhr, msg, err) {
                }
            });
        });    
    }


    function getAvailableAuthors() {
        var xhr = $.ajax({
            dataType : 'html',
            url : '/game/available-authors/' + gameSlug,
            type: 'GET'
        });
        xhr.done(function(data) {
            $('#available-authors').html(data);
            bindAddAuthorSubmit();
            App.accessibility.refresh();
        });
    }


    function getGameAuthors() {
        var xhr = $.ajax({
            dataType : 'html',
            url : '/game/game-authors/' + gameSlug,
            type: 'GET'
        });
        xhr.done(function(data) {
            $('#game-authors').html(data);
            bindRemoveAuthors();
            getAvailableAuthors();
        });
    }


    function bindDeleteGame() {
        $('#deleteGame').on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            return bootbox.confirm("Are you sure you want to delete this game?", function(result) {
                if (result) {
                  window.location = url;
                } else {
                    bootbox.hideAll();
                }                
            });
        });
    }

    function bindDeleteGameImage() {
        $('#deleteGameImage').on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            return bootbox.confirm("Are you sure you want to delete game image?", function(result) {
                if (result) {
                  window.location = url;
                } else {
                    bootbox.hideAll();
                }                
            });
        });
    }

    getGameAuthors();
    bindDeleteGame();
    bindDeleteGameImage();
    App.games.bindPlayEditButtons();

}); // document ready
</script>
{% endblock %}
