{% extends "apps/game/game_base.html" %}
{% load i18n %}

{% block content %}
    
        <div class="row wide-content">
            <div class="col-xs-12">
                <div class="intro-game">
                    <p class="slogan">{% blocktrans %}Welcome to the MAGICAL world of Magos!{% endblocktrans %}</p>
                </div>
            </div>
        </div>

        <div class="row wide-content">
                    
            <div id="main-content" class="col-xs-8">

                <!--
                <div id="filter-tools">
                    <h3>{% trans 'Search games' %}</h3>                    
                </div>
                -->

                {% if latest_revision %}                           
                <div class="featured-game">
                    <div id="featured-slogan">
                        <h1>{% blocktrans with game_title=latest_revision.game.title %}{{ game_title }} is Out!{% endblocktrans %}</h1>
                        <p>
                            {% trans 'Experience the latest game in your Magos universe.' %}
                            <br><a id="playLatest" class="btn btn-primary" type="button" href="{{ play_url }}{{ latest_revision.game.slug }}">{% trans 'Play now' %}</a>
                        </p>
                    </div>
                </div>
                {% endif %}
                <ul class="nav nav-tabs" id="gamesList">
                    <!--
                    <li class="active">
                        <a href="#magos_games" data-url="A">{% trans 'Magos games' %}</a>
                    </li>
                    -->
                    <li class="active">
                        <a href="#magos_lite_games" data-url="B">{% trans 'Magos-lite games' %}</a>
                    </li>
                </ul>
            
                <div class="tab-content">
                    <div class="tab-pane active" id="magos_lite_games"></div>
                    <div class="tab-pane" id="magos_games"></div>
                </div>
                
            </div>
        
            <div id="sidebar" class="col-xs-4">
                
                {% include 'apps/game/sidebar.html' %}
            </div>

            </div>

        </div>

    
    
    
{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
	App.games.init_list();
}); // document ready
</script>
{% endblock %}
