{% extends "apps/game/game_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    
        <div class="row wide-content">
            <div class="col-xs-12">
                <div class="intro-game">
                    <p class="slogan">{% blocktrans %}Welcome to the MAGICAL world of Magos!{% endblocktrans %}</p>
                </div>
            </div>
        </div>

        <div class="row wide-content">
                    
            <div id="main-content" class="col-xs-8">

                {% if latest_revision %}
                <div class="featured-game">
                    <div id="featured-slogan">
                        <h1>{% blocktrans with game_title=latest_revision.game.title %}{{ game_title }} is Out!{% endblocktrans %}</h1>
                        <p>
                            {% trans 'Experience the latest game in your Magos universe.' %}
                            <br><a id="playLatest" class="btn btn-primary" type="button" href="{{ play_url }}{{ latest_revision.game.slug }}">{% trans 'Play now' %}</a>
                        </p>
                    </div>
                </div>
                {% endif %}
                <ul class="nav nav-tabs" id="gamesList">
                    {% if not user.is_authenticated %}
                        <li class="active">
                            <a href="#public_games" data-state="public" data-type="B" data-url="{% url 'ajax_list_games' gametype='B' %}">{% trans 'Public games' %}</a>
                        </li>
                    {% else %}
                        <li class="active">
                            <a href="#my_games" data-state="private" data-type="B" data-url="{% url 'ajax_list_games' gametype='B' %}">{% trans 'My games' %}</a>
                        </li>
                        <li class="">
                            <a href="#org_games" data-state="org" data-type="B" data-url="{% url 'ajax_list_games' gametype='B' %}">{{ user.userprofile.organization }}</a>
                        </li>
                        <li class="">
                            <a href="#public_games" data-state="public" data-type="B" data-url="{% url 'ajax_list_games' gametype='B' %}">{% trans 'Public games' %}</a>
                        </li>
                    {% endif %}
                    {% if DEVELOPMENT_FEATURES %}
                        <li class="">
                            <a href="#magos_a_games" data-state="private" data-type="A" data-url="{% url 'ajax_list_games' gametype='A' %}">{% trans 'Magos A games' %}</a>
                        </li>
                    {% endif %}
                </ul>
            
                <div class="tab-content">
                    {% if not user.is_authenticated %}
                        <div class="tab-pane active" id="public_games"></div>
                    {% else %}
                        <div class="tab-pane active" id="my_games"></div>
                        <div class="tab-pane" id="org_games"></div>
                        <div class="tab-pane" id="public_games"></div>
                    {% endif %}

                    {% if DEVELOPMENT_FEATURES %}
                        <div class="tab-pane" id="magos_a_games"></div>
                    {% endif %}
                </div>
                
            </div>
        
            <div id="sidebar" class="col-xs-4">
                
                {% include 'apps/game/sidebar.html' %}
            </div>

            </div>

        </div>

    
    
    
{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
	App.games.init_list();
}); // document ready
</script>
{% endblock %}
