<form id="loginForm" method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
	{% if form.errors %}
	<div class="errors">
		<p>Your username and password didn't match. Please try again.</p>
	</div>
	{% endif %}
    <label for="username">{{ form.username.label_tag }}</label> <input type="text" name="username" maxlength="30" id="username" />
    <label for="password">{{ form.password.label_tag }}</label> <input type="password" name="password" id="password" /></p>
    <input type="submit" value="Log in" />
    <input type="hidden" name="next" value="/" />
</form>

  