{% extends "apps/game/game_base.html" %}
{% load i18n %}

{% block bodyclass %}register{% endblock %}

{% block content %}
    
        <div class="row wide-content">
            <div class="col-xs-12">
                <h1>{% blocktrans %}Thank you for registering!{% endblocktrans %}</h1>
                <p>{% blocktrans %}Welcome to the MAGICAL world of Magos!{% endblocktrans %}</p>
                {% if not user.is_authenticated %}
                  <p>{% blocktrans %}You can now log in to start creating games.{% endblocktrans %}</p>
                  <div class="inPageLogin">
                    {% include "apps/game/login_form.html" %}
                  </div>
                {% endif %}

            </div>
        </div>
    
{% endblock %}
