{% extends "apps/game/game_base.html" %}
{% load i18n %}

{% block bodyclass %}watch{% endblock %}

{% block content %}
    
                    
        <div id="main-content">
            
            <h1>Watch</h1>

            <iframe width="560" height="315" src="http://www.youtube.com/embed/I8qkQhTfSJ4" frameborder="0" allowfullscreen></iframe>

            <p>More videos on <a href="http://www.youtube.com/user/magosTV" target="_blank">MagosTV</a> Youtube channel.</p>
            
        </div>
    
        <div id="sidebar">
            <h3>Latest Discussion</h3>
            <ul>
                <li>Cum sociis natoque penatibus et magnis dis</li>
                <li>Parturient montes, nascetur ridiculus mus</li>
                <li>Mauris posuere, lorem sit amet iaculis laoreet</li>
                <li>Lectus dui faucibus lectus, vitae sagittis velit magna a augue</li>
            </ul>

            <h3>Lorem Ipsum</h3>
            <p>Fusce semper pulvinar libero at commodo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p> Mauris posuere, lorem sit amet iaculis laoreet, lectus dui faucibus lectus, vitae sagittis velit magna a augue. Sed iaculis, nisi sed tincidunt molestie.</p>

        </div>

    
    
    
{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
		
    function redirectToLogin() {
    	window.location.href = '{{ login_url }}';
    }
    
	// Django Ajax CSRF token setup
	$.ajaxSetup({
	     beforeSend: function(xhr, settings) {
	         function getCookie(name) {
	             var cookieValue = null;
	             if (document.cookie && document.cookie != '') {
	                 var cookies = document.cookie.split(';');
	                 for (var i = 0; i < cookies.length; i++) {
	                     var cookie = jQuery.trim(cookies[i]);
	                     // Does this cookie string begin with the name we want?
	                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                     break;
	                 }
	             }
	         }
	         return cookieValue;
	         }
	         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	             // Only send the token to relative URLs i.e. locally.
	             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	         }
	     }
	});

    
}); // document ready
</script>
{% endblock %}
