<!-- Modal SCORE DEFINITION ############### SCORE -->
<div class="modal fade" id="scoreModal" tabindex="-1" role="dialog" aria-labelledby="scoreModalLabel" aria-hidden="true">
	<div class="modal-dialog">
 		<div class="modal-content">

  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h4 class="modal-title" id="scoreModalLabel"><%= t('Points') %></h4>
  		</div>

      <div class="modal-body" id="score">
				<div class="clearfix">
          <div id="collectScore"></div>
  				<div id="hazardScore"></div>
        </div>
        
        <form id="matchScore" class="clearfix" role="form">
          <fieldset>
            <div class="col-sm-12">
              <legend><%= t('Match points') %></legend>
            </div>

            <div class="col-sm-6">
              <label for="matchRightList" class="control-label"><%= t('Points for right answers') %>:</label>
              <select id="matchRightList" class="form-control" onchange="editor.matchPoints('right')">
                <option value="0">0</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
                <option value="600">600</option>
                <option value="700">700</option>
                <option value="800">800</option>
                <option value="900">900</option>
                <option value="1000">1000</option>
              </select>
            </div>

            <div class="col-sm-6">
              <label for="matchWrongList" class="control-label"><%= t('Points for wrong answers') %>:</label>
              <select id="matchWrongList" class="form-control" onchange="editor.matchPoints('wrong')">
                <option value="0">0</option>
                <option value="-100">-100</option>
                <option value="-200">-200</option>
                <option value="-300">-300</option>
                <option value="-400">-400</option>
                <option value="-500">-500</option>
                <option value="-600">-600</option>
                <option value="-700">-700</option>
                <option value="-800">-800</option>
                <option value="-900">-900</option>
                <option value="-1000">-1000</option>
              </select>              
            </div>

          </fieldset>
        </form>
      	
    	</div>

  		<div class="modal-footer">
    		<a  href="#" class="pop" data-toggle="popover" data-content="<%= t('points_info') %>"><%= t('Info') %></a>
    		<button type="button" class="btn btn-default" data-dismiss="modal"><%= t('Close') %></button>
  		</div>

  	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
