<!-- Modal SPEED DEFINITION ############### SPEED -->
<div class="modal fade" id="speedModal" tabindex="-1" role="dialog" aria-labelledby="speedModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h4 class="modal-title" id="speedModalLabel"><%= t('Speed of game elements') %></h4>
  		</div>

      <div class="modal-body" id="speed"> 
        <div class="clearfix">
    			<div id="collectSpeed"></div>
    			<div id="hazardSpeed"></div>  				
        </div>

  		</div>

  		<div class="modal-footer">
        <i data-toggle="popover" data-content="<%= t('speed_info') %>" class="pop fa fa-question-circle"></i>
    		<button type="button" class="btn btn-default" data-dismiss="modal"><%= t('Close') %></button>
  		</div>

  	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
