		<!-- Modal BACKGROUND ############### BACKGROUND  -->
		<div class="modal fade" id="bgModal" tabindex="-1" role="dialog" aria-labelledby="bgModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
   		 <div class="modal-content">

      		<div class="modal-header">
          		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          		<h4 class="modal-title" id="bgModalLabel"><%= t('Background properties') %></h4>
      		</div>

       		<div class="modal-body">

            <div class="form-group clearfix">
              <form class="form-horizontal" role="form">
                <label for="colorList" class="col-sm-5 control-label"><%= t('Background color') %>:</label>
                <div class="col-sm-7">
                  <select id="colorList" class="form-control">
    						    <option value="#F2F2F2"><%= t('light grey') %></option>
                    <option value="#999999"><%= t('grey') %></option>
                    <option value="#996600"><%= t('brown') %></option>
                    <option value="#0099FF"><%= t('blue') %></option>
                    <option value="#FF9900"><%= t('orange') %></option>
                    <option value="#66CC00"><%= t('green') %></option>
                  </select>
                  <div id="color-drop" class="drop"></div>
                </div>
              </form>
       			</div>
    
            <div class="form-group clearfix">
              <form class="form-horizontal" role="form">
                <label for="skyList" class="col-sm-5 control-label"><%= t('Static background element') %>:</label>
                <div class="col-sm-7">
        				  <select id="skyList" class="form-control">
      						  <option></option>
        						<option value="sky-blue"><%= t('sky-blue') %></option>
        						<option value="sky-grey"><%= t('sky-grey') %></option>
        						<option value="sky-small-clouds"><%= t('sky-small-clouds') %></option>
        						<option value="sky"><%= t('sky') %></option>
        						<option value="space"><%= t('space') %></option>
      				  	</select>
                </div>
                <div id="sky-drop" class="drop"></div>
              </form>
            </div>

            <div class="form-group clearfix">
              <form class="form-horizontal" role="form">
                <label for="p3List" class="col-sm-5 control-label"><%= t('Scrolling background element 3') %>:</label>
                <div class="col-sm-7">
                  <select id="p3List" class="form-control">
                    <option></option>
                    <option value="factory"><%= t('factory') %></option>
                    <option value="mountains-big"><%= t('mountains-big') %></option>
                  </select>
                </div>
              </form>
            </div>

            <div class="form-group clearfix">
              <form class="form-horizontal" role="form">
                <label for="p2List" class="col-sm-5 control-label"><%= t('Scrolling background element 2') %>:</label>
                <div class="col-sm-7">
                  <select id="p2List" class="form-control">
                    <option></option>
                    <option value="mountains-brown"><%= t('mountains-brown') %></option>
                    <option value="mountains-snow"><%= t('mountains-snow') %></option>
                    <option value="mountains-violet"><%= t('mountains-violet') %></option> 
                    <option value="city-dark"><%= t('city-dark') %></option>
                    <option value="city-dark-blue"><%= t('city-dark-blue') %></option>
                    <option value="factory"><%= t('factory') %></option>
                    <option value="houses2"><%= t('houses2') %></option>
                  </select>
                </div>
              </form>
            </div>

            <div class="form-group clearfix">
              <form class="form-horizontal" role="form">
                <label for="p1List" class="col-sm-5 control-label"><%= t('Scrolling background element 1') %>:</label>
                <div class="col-sm-7">
                  <select id="p1List" class="form-control">
                    <option></option>
                    <option value="palms"><%= t('palms') %></option>
                    <option value="fence"><%= t('fence') %></option>
                    <option value="desert"><%= t('desert') %></option>
                    <option value="grass-yellow"><%= t('yellow grass') %></option>
                    <option value="grass-green"><%= t('green grass') %></option>
                    <option value="houses1"><%= t('houses near') %></option>
                    <option value="houses3"><%= t('houses far') %></option>
                    <option value="sea"><%= t('sea') %></option>
                    <option value="forest"><%= t('forest') %></option>
                    <option value="flappy"><%= t('flappy') %></option>
                  </select>
                </div>
              </form>
            </div>

      		</div> <!-- /.modal-body -->
      		
          <div class="modal-footer">
        			<a  href="#" class="pop" data-toggle="popover" data-content="<%= t('background_info') %>"><%= t('Info') %></a>
          		<button type="button" class="btn btn-default" data-dismiss="modal"><%= t('Close') %></button>
        	</div><!-- /.modal-footer -->
    	 </div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
