<!-- Modal  ########### PLAYER  -->
<div class="modal fade" id="playerModal" tabindex="-1" role="dialog" aria-labelledby="playerModalLabel" aria-hidden="true">
	<div class="modal-dialog">
 		<div class="modal-content">
  		<div class="modal-header">
      		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      		<h4 class="modal-title" id="playerModalLabel"><%= t('Player properties') %></h4>
  		</div><!-- /.modal-header -->

 		  <div class="modal-body">

        <div class="form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="playerList" class="col-sm-5 control-label"><%= t('Select graphic for the player') %>:</label>
            <div class="col-sm-4">
      				<select id="playerList" class="form-control">
      					<option value="magos-girl"><%= t('magos-girl') %></option>
      					<option value="witch"><%= t('witch') %></option>
      					<option value="santa"><%= t('santa claus') %></option>
      					<option value="rocket"><%= t('rocket') %></option>
      					<option value="aeroplane"><%= t('aeroplane') %></option>
      				</select>
      				<div id="player-drop" class="drop"></div>
            </div>
          </form>
        </div>
        
      </div><!-- /.modal-body -->
      
      <div class="modal-footer">
        <i data-toggle="popover" data-content="<%= t('player_info') %>" class="pop fa fa-question-circle"></i>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('Close') %></button>            		
      </div><!-- /.modal-footer -->
  	
    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

