		<!-- Modal GAME TYPE ############### MODE  -->
<div class="modal fade" id="rulesModal" tabindex="-1" role="dialog" aria-labelledby="rulesModalLabel" aria-hidden="true">
	<div class="modal-dialog">
 		<div class="modal-content">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h4 class="modal-title" id="rulesModalLabel"><%= t('Game type and game mode') %></h4>
  		</div>
          
      <div class="modal-body">

        <div class="form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="platformList" class="col-sm-5 control-label"><%= t('Game type') %>:</label>
            <div class="col-sm-7">
              <select id="platformList" class="form-control">
                  <option value="air"><%= t('flying game') %></option>
                  <option value="ground"><%= t('racing game') %></option>
              </select>
            </div>
          </form>
        </div>
  					
<!--
        <div id="jumpPowers" class="form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="jumpList" class="col-sm-5 control-label">Define jump height:</label>
            <div class="col-sm-4">
              <select id="jumpList" class="form-control">
  							<option value="-24">low</option>
  							<option value="-32">average</option>
  							<option value="-40">high</option>
  						</select>
            </div>
          </form>
        </div>
-->
        <div id="jumpSensitivity" class="gameType form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="jumpSensitivityList" class="col-sm-5 control-label"><%= t('Jump control') %>:</label>
            <div class="col-sm-4">
              <select id="jumpSensitivityList" class="form-control">
                <option value="13000"><%= t('easy') %></option>
                <option value="18000"><%= t('average') %></option>
                <option value="23000"><%= t('hard') %></option>
              </select>
            </div>
          </form>
        </div>

        <div id="motionSensitivity" class="gameType form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="motionSensitivityList" class="col-sm-5 control-label"><%= t('Motion control') %>:</label>
            <div class="col-sm-4">
              <select id="motionSensitivityList" class="form-control">
                <option value="5000"><%= t('easy') %></option>
                <option value="10000"><%= t('average') %></option>
                <option value="15000"><%= t('hard') %></option>
              </select>
            </div>
          </form>
        </div>

  					
        <div id="gameMode" class="form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="modeList" class="col-sm-5 control-label"><%= t('Game mode') %>:</label>
            <div class="col-sm-4">
              <select id="modeList" class="form-control">
    							<option value="time"><%= t('time') %></option>
    							<option value="distance"><%= t('distance') %></option>
                  <option value="survival"><%= t('survival') %></option>
              </select>
            </div>
          </form>
        </div>


        <div id="timeMode" class="gameMode form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="gameDurationList" class="col-sm-5 control-label">
              <%= t('Game time') %>:
            </label>
            <div class="col-sm-4">
              <select id="gameDurationList" class="form-control">
    							<option value="60">1 <%= t('minutes') %></option>
    							<option value="120">2 <%= t('minutes') %></option>
    							<option value="180">3 <%= t('minutes') %></option>
    							<option value="240">4 <%= t('minutes') %></option>
    							<option value="300">5 <%= t('minutes') %></option>
  						</select>
  					</div>
          </form>
        </div>

        <div id="survivalMode" class="gameMode form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="survivalList" class="col-sm-5 control-label">
              <%= t('Game difficulty') %>:
            </label>
            <div class="col-sm-4">
              <select id="survivalList" class="form-control">
                  <option value="0.99"><%= t('very easy') %></option>
                  <option value="0.95"><%= t('easy') %></option>
                  <option value="0.91"><%= t('difficult') %></option>
                  <option value="0.87"><%= t('very difficult') %></option>
              </select>
            </div>
          </form>
        </div>

        <div id="distanceMode" class="gameMode form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="distanceList" class="col-sm-5 control-label">
              <%= t("Target distance") %>:
            </label>
            <div class="col-sm-4">
              <select id="distanceList" class="form-control">
    							<option value="400">400 m</option>
    							<option value="600">600 m</option>
    							<option value="800">800 m</option>
    							<option value="1000">1000 m</option>
    							<option value="1500">1500 m</option>
  						</select>
  					</div>
          </form>
        </div>  					
    		
      </div><!-- /.modal-body -->

  		<div class="modal-footer">
        <i data-toggle="popover" data-content="<%= t('game_mode_info') %>" class="pop fa fa-question-circle"></i>
    		<button type="button" class="btn btn-default" data-dismiss="modal"><%= t('Close') %></button>
    		<!-- <button type="button" class="btn btn-primary" changeSkyImg()>Save changes</button>-->
  		</div><!-- /.modal-footer -->

  	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
