		<!-- Modal COLLECTIBLES ###############   -->
		<div class="modal fade" id="collectModal" tabindex="-1" role="dialog" aria-labelledby="collectModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
     		<div class="modal-content">
      		<div class="modal-header">
          	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          	<h4 class="modal-title" id="collectModalLabel"><%= t('Collectibles') %></h4>
        	</div>
       		
          <div class="modal-body">

            <div class="form-group clearfix">
                <form id="collectibles" class="form-horizontal" role="form">
                  <label for="collectList" class="col-sm-7 control-label"><%= t('Elements that player tries to collect') %>:</label>
                  <div class="col-sm-5">
                    <select id="collectList" class="form-control">
              				<option value=""></option>
              				<option value="earth"><%= t('earth') %></option>
              				<option value="saturnus"><%= t('saturn') %></option>
              				<option value="coin"><%= t('coin') %></option>
              				<option value="star"><%= t('star') %></option>
              				<option value="gift"><%= t('gift') %></option>
                      <option value="cucumber"><%= t('cucumber') %></option>
                      <option value="carrot"><%= t('carrot') %></option>
                      <option value="yellow-pepper"><%= t('yellow-pepper') %></option>
                      <option value="garlic"><%= t('garlic') %></option>
                      <option value="tomato"><%= t('tomato') %></option>
                      <option value="broccoli"><%= t('broccoli') %></option>
                      <option value="eggplant"><%= t('eggplant') %></option>
                      <option value="bacteria"><%= t('bacteria') %></option>
                      <option value="germ"><%= t('germ') %></option>
                      <option value="funny-germ"><%= t('funny-germ') %></option>
                      <option value="dust"><%= t('dust') %></option>
                      <option value="tri-head-bacteria"><%= t('tri-head-bacteria') %></option>
                      <option value="diamond"><%= t('diamond') %></option>
                      <option value="balloon-small"><%= t('balloon-small') %></option>
              			</select>
                  </div>
              	</form>
            </div>

            <div id="collect-drop" class="col-sm-12 drop clearfix"></div>
            	 	
            <div id="collectiblesInterval" class="form-group clearfix">
              <form class="form-horizontal" role="form">
                <label for="collectList" class="col-sm-7 control-label"><%= t('Appearance interval') %>:</label>
                <div class="col-sm-5">
                  <select id="itemIntervalList" class="form-control">
                  		<option value="4000">4 <%= t('seconds') %></option>
                  		<option value="6000">6 <%= t('seconds') %></option>
                  		<option value="8000">8 <%= t('seconds') %></option>
                  		<option value="10000">10 <%= t('seconds') %></option>
                  		<option value="12000">12 <%= t('seconds') %></option>
                  		<option value="14000">14 <%= t('seconds') %></option>
                  		<option value="16000">16 <%= t('seconds') %></option>
                  		<option value="18000">18 <%= t('seconds') %></option>
                  		<option value="20000">20 <%= t('seconds') %></option>
                  		<option value="30000">30 <%= t('seconds') %></option>
                      <option value="manual"><%= t('manual collectibles') %></option>
                  </select>
  				      </div>
              </form>        	
            </div>
      		
          </div><!-- /.modal-body -->

          <div class="modal-footer">
            <i data-toggle="popover" data-content="<%= t('collectibles_info') %>" class="pop fa fa-question-circle"></i>
        		<button type="button" class="btn btn-default" data-dismiss="modal"><%= t('Close') %></button>
      		</div>

      	</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
