		<!-- Modal HAZARD ############### HAZARD  -->
		<div class="modal fade" id="hazardModal" tabindex="-1" role="dialog" aria-labelledby="hazardModalLabel" aria-hidden="true">
  		<div class="modal-dialog">
   		<div class="modal-content">
    		<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        	<h4 class="modal-title" id="hazardModalLabel"><%= t('Hazard properties') %></h4>
      	</div> <!-- modal-header -->
     		
        <div class="modal-body">


          <div class="form-group clearfix">
            <div class="row">
              <form class="form-horizontal" role="form">
                <label for="avoidList" class="col-sm-7 control-label"><%= t('Elements that player should avoid') %>:</label>
                <div class="col-sm-5">
                  <select id="avoidList" class="form-control">
      							<option value="-1"></option>
      							<option value="dragon"><%= t('dragon') %></option>
      							<option value="storm-cloud"><%= t('storm cloud') %></option>
      							<option value="bird"><%= t('bird') %></option>
      							<option value="asteroid"><%= t('asteroid') %></option>
      							<option value="satellite"><%= t('satellite') %></option>
      							<option value="flammable"><%= t('flammable') %></option>
      							<option value="explosive"><%= t('explosive') %></option>
      							<option value="acid"><%= t('acid') %></option>
      							<option value="toxic"><%= t('toxic') %></option>
      							<option value="radioactive"><%= t('radioactive') %></option>
      						</select>
                </div>
				       </form>
            </div>
            <div id="avoid-drop" class="drop clearfix"></div>
          </div>

          <div id="hazardsExtraInfo">

  				  <div class="form-group clearfix">
              <div class="row">
                <form class="form-horizontal" role="form">
                  <label for="hazardIntervalList" class="col-sm-7 control-label"><%= t('Appearance interval of hazards') %>:</label>
                  <div class="col-sm-5">
          					<select id="hazardIntervalList" class="form-control">
          						<option value="5000">5 <%= t('seconds') %></option>
          						<option value="7000">7 <%= t('seconds') %></option>
          						<option value="9000">9 <%= t('seconds') %></option>
          						<option value="11000">11 <%= t('seconds') %></option>
          						<option value="13000">13 <%= t('seconds') %></option>
          						<option value="15000">15 <%= t('seconds') %></option>
          						<option value="17000">17 <%= t('seconds') %></option>
          						<option value="19000">19 <%= t('seconds') %></option>
          						<option value="21000">21 <%= t('seconds') %></option>
          						<option value="31000">31 <%= t('seconds') %></option>
          					</select>
                  </div>
                </form>
  	    		  </div>
            </div>

            <div class="form-group clearfix">
              <div class="row">
                <form class="form-horizontal" role="form">
                  <label for="hazardEffectList" class="col-sm-7 control-label"><%= t('Lose life if player collides with hazard') %>:</label>
                  <div class="col-sm-5">
                    <select id="hazardEffectList" class="form-control">
          						<option value="0"><%= t('no') %></option>
          						<option value="1"><%= t('yes') %></option>
    			       		</select>
                  </div>
                </form>
              </div>                
    				</div>

          </div>

        </div> <!-- modal-body -->

      	<div class="modal-footer">
            <i data-toggle="popover" data-content="<%= t('hazards_info') %>" class="pop fa fa-question-circle"></i>
        		<button type="button" class="btn btn-default" data-dismiss="modal"><%= t('Close') %></button>
        </div> <!-- modal-footer -->

    	</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
		
