		<!-- Modal GAME TYPE ############### MODE  -->
<div class="modal fade" id="rulesModal" tabindex="-1" role="dialog" aria-labelledby="rulesModalLabel" aria-hidden="true">
	<div class="modal-dialog">
 		<div class="modal-content">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h4 class="modal-title" id="rulesModalLabel">Game type and game mode</h4>
  		</div>
          
      <div class="modal-body">

        <div class="form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="platformList" class="col-sm-5 control-label">Select platform game type:</label>
            <div class="col-sm-7">
              <select id="platformList" class="form-control">
                  <option value="air">flying game</option>
                  <option value="ground">driving or running game</option>
              </select>
            </div>
          </form>
        </div>
  					
<!--
        <div id="jumpPowers" class="form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="jumpList" class="col-sm-5 control-label">Define jump height:</label>
            <div class="col-sm-4">
              <select id="jumpList" class="form-control">
  							<option value="-24">low</option>
  							<option value="-32">average</option>
  							<option value="-40">high</option>
  						</select>
            </div>
          </form>
        </div>
-->
        <div id="jumpSensitivity" class="gameType form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="jumpSensitivityList" class="col-sm-5 control-label">Define jump sensitivity:</label>
            <div class="col-sm-4">
              <select id="jumpSensitivityList" class="form-control">
                <option value="12000">low</option>
                <option value="18000">average</option>
                <option value="20000">high</option>
              </select>
            </div>
          </form>
        </div>

        <div id="motionSensitivity" class="gameType form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="motionSensitivityList" class="col-sm-5 control-label">Define motion sensitivity:</label>
            <div class="col-sm-4">
              <select id="motionSensitivityList" class="form-control">
                <option value="8000">low</option>
                <option value="10000">average</option>
                <option value="12000">high</option>
              </select>
            </div>
          </form>
        </div>

  					
        <div id="gameMode" class="form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="modeList" class="col-sm-5 control-label">Select game mode:</label>
            <div class="col-sm-4">
              <select id="modeList" class="form-control">
    							<option value="time">time</option>
    							<option value="survival">survival</option>
    							<option value="distance">distance</option>
              </select>
            </div>
          </form>
        </div>


        <div id="timeMode" class="gameMode form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="gameDurationList" class="col-sm-5 control-label">
              Game time:
            </label>
            <div class="col-sm-4">
              <select id="gameDurationList" class="form-control">
    							<option value="60">1 minutes</option>
    							<option value="120">2 minutes</option>
    							<option value="180">3 minutes</option>
    							<option value="240">4 minutes</option>
    							<option value="300">5 minutes</option>
  						</select>
  					</div>
          </form>
        </div>


        <div id="survivalMode" class="gameMode form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="survivalList" class="col-sm-8 control-label">
              In survival mode the player must survive alive as long as possible while the game gets continuously harder.<br>
              Define how fast the interval between hazards speeds up:
            </label>
            <div class="col-sm-4">
              <select id="survivalList" class="form-control">
                  <option value="0.99">very slow</option>
                  <option value="0.95">slow</option>
                  <option value="0.91">fast</option>
                  <option value="0.87">very fast</option>
              </select>
            </div>
          </form>
        </div>



        <div id="distanceMode" class="gameMode form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="distanceList" class="col-sm-8 control-label">
              In distance mode the player have to achieve a certain distance.<br>
              Define the target distance:
            </label>
            <div class="col-sm-4">
              <select id="distanceList" class="form-control">
    							<option value="400">400 m</option>
    							<option value="600">600 m</option>
    							<option value="800">800 m</option>
    							<option value="1000">1000 m</option>
    							<option value="1500">1500 m</option>
  						</select>
  					</div>
          </form>
        </div>  					
    		
      </div><!-- /.modal-body -->

  		<div class="modal-footer">
  			<a  href="#" class="pop" data-toggle="popover" data-content="There is too possible platform game types that you can create. 1) A game in which the player character is flying in air. 2) A game in which the player character is moving on ground and can jump into air. Additionally, you can select one of three possible game modes. 1) In time mode you should define how long the game lasts. 2) In survival mode define how rapidly the game gets harder (speeds up the interval between hazards). 3) In distance mode you should define how far the player should be able to travel. If the player achieves enough meters he wins the game.">Info</a>
    		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    		<!-- <button type="button" class="btn btn-primary" changeSkyImg()>Save changes</button>-->
  		</div><!-- /.modal-footer -->

  	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
