<!-- Modal POWERUPS ############### POWERUPS  -->
<div class="modal fade" id="powerupsModal" tabindex="-1" role="dialog" aria-labelledby="powerupsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="powerupModalLabel">Powerups</h4>
      </div><!-- /.modal-header -->

      <div class="modal-body">

        <div class="form-group clearfix">
          <div class="row">
            <form id="powerups" class="form-horizontal" role="form">

              <div class="col-sm-4">
                <label for="extraList" class="control-label">Extra lives:</label>
                <select id="extraList" class="form-control">
                  <option value="0">off</option>
                  <option value="1">on</option>
                </select>
              </div>

              <div class="col-sm-4">
                <label for="turboList" class="control-label">Turbo speed:</label>
                <select id="turboList" class="form-control">
                  <option value="0">off</option>
                  <option value="1">on</option>
                </select>
              </div>

            </form>
          </div>
        </div>

      </div><!-- /.modal-body -->

      <div class="modal-footer">
        <a  href="#" class="pop" data-toggle="popover" data-content="Here you can define what powerups the player can collect. Extra lives will appear in 20-30 second intervals if activated.">Info</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div><!-- /.modal-footer -->

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  
