<!-- Modal  ########### SETTINGS -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
	<div class="modal-dialog">
 		<div class="modal-content">
  		<div class="modal-header">
      		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      		<h4 class="modal-title" id="settingsModalLabel"><%= t('Settings') %></h4>
  		</div><!-- /.modal-header -->

 		  <div class="modal-body">

        <div class="form-group clearfix">
          <form class="form-horizontal" role="form">
            <label for="uppercaseText" class="col-sm-5 control-label"><%= t('Use uppercase text') %>:</label>
            <div class="col-sm-4">
      				<select id="uppercaseText" class="form-control">
                <option value="0"><%= t('no') %></option>
                <option value="1"><%= t('yes') %></option>
      				</select>
            </div>
          </form>
        </div>
        
      </div><!-- /.modal-body -->
      
      <div class="modal-footer">
      	<a  href="#" class="pop" data-toggle="popover" data-content="<%= t('settings_info') %>"><%= t('Info') %></a>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('Close') %></button>            		
      </div><!-- /.modal-footer -->
  	
    </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

