<!-- Modal SCORE DEFINITION ############### SCORE -->
<div class="modal fade" id="scoreModal" tabindex="-1" role="dialog" aria-labelledby="scoreModalLabel" aria-hidden="true">
	<div class="modal-dialog">
 		<div class="modal-content">

  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h4 class="modal-title" id="scoreModalLabel"><%= t('Points') %></h4>
  		</div>

      <div class="modal-body" id="score">
				<div class="clearfix">
          <div id="collectScore"></div>
  				<div id="hazardScore"></div>
        </div>
        
        <form id="matchScore" class="clearfix" role="form">
          <fieldset>
            <div class="col-sm-12">
              <legend><%= t('Match points') %></legend>
            </div>

            <div class="col-sm-6">
              <label for="matchRightList" class="control-label"><%= t('Points for right answers') %>:</label>
              <select id="matchRightList" class="form-control" onchange="editor.matchPoints('right')">
                <option value="0">0</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="60">60</option>
                <option value="70">70</option>
                <option value="80">80</option>
                <option value="90">90</option>
                <option value="100">100</option>
              </select>
            </div>

            <div class="col-sm-6">
              <label for="matchWrongList" class="control-label"><%= t('Points for wrong answers') %>:</label>
              <select id="matchWrongList" class="form-control" onchange="editor.matchPoints('wrong')">
                <option value="0">0</option>
                <option value="-10">-10</option>
                <option value="-20">-20</option>
                <option value="-30">-30</option>
                <option value="-40">-40</option>
                <option value="-50">-50</option>
                <option value="-60">-60</option>
                <option value="-70">-70</option>
                <option value="-80">-80</option>
                <option value="-90">-90</option>
                <option value="-100">-100</option>
              </select>              
            </div>

          </fieldset>
        </form>
      	
    	</div>

  		<div class="modal-footer">
        <i data-toggle="popover" data-content="<%= t('points_info') %>" class="pop fa fa-question-circle"></i>
    		<button type="button" class="btn btn-default" data-dismiss="modal"><%= t('Close') %></button>
  		</div>

  	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
