<!-- Modal MATCH ############### MATCH  -->
<div class="modal fade" id="matchModal" tabindex="-1" role="dialog" aria-labelledby="matchModalLabel" aria-hidden="true">
	<div class="modal-dialog">
 		<div class="modal-content">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h4 class="modal-title" id="hazardModalLabel"><%= t('Tasks') %></h4>
  		</div>
   		<div class="modal-body">

				<div id="matchType" class="form-group clearfix row">
					<form class="form-horizontal" role="form">
						<label for="matchList" class="col-sm-5 control-label"><%= t('Select task type') %>:</label>
						<div class="col-sm-7">
							<select id="matchList" class="form-control">
								<option value ="-1"></option>
								<option value="word"><%= t('word') %></option>
								<option value="memory"><%= t('memory') %></option>
								<option value="fraction"><%= t('fraction') %></option>
							</select>
						</div>
					</form>
				</div>


   		 	<div id="words" class="form-group clearfix matchType">
				<form id="addMatchRule" class="form-horizontal" role="form">
	          		
	          		<div class="form-group">
						<label for="word1" class="col-sm-5 control-label"><%= t('Write a task') %>:</label>
		          		<div class="col-sm-5">
							<input name="word1" type="text" value="" maxlength="20" id="word1" class="form-control taskField words_input" />
						</div>
					</div>
	          
					<div class="form-group">
						<label for="word2" class="col-sm-5 control-label"><%= t('Write an answer') %>:</label>
		          		<div class="col-sm-5">
							<input name="word2" type="text" value="" maxlength="20" id="word2" class="form-control taskField words_input" />
						</div>
					</div>

					<div class="form-group">
						<label for="word3" class="col-sm-5 control-label"><%= t('Write wrong answers') %>:
						<br><span class="helpTxt"><%= t('separate multiple wrong answers with comma') %></span>
						</label>
						<div class="col-sm-7">
							<input name="word3" type="text" value="" maxlength="50" id="word3" class="form-control taskField words_input" />
							<div class="spaceTop">
								<button type="submit" class="btn btn-primary taskField"><%= t('Add task') %></button>
							</div>
						</div>
					</div>

				</form>

				<div id="matching" class="drop clearfix"></div>

			</div>

				


   		 	<div id="memory" class="form-group clearfix matchType">
					
					<form class="form-horizontal" role="form">
	          <div class="formRow">
							<p><%= t('memory_match_info') %></p>
						</div>

						<div class="form-group">
							<label for="memoryStart" class="col-sm-5 control-label"><%= t('Starting number') %>:</label>
							<div class="col-sm-7">
								<input name="memoryStart" type="number" value="" maxlength="5" id="memoryStart" class="form-control taskField words_input" />
							</div>
						</div>

						<div class="form-group">
							<label for="memoryIncrease" class="col-sm-5 control-label"><%= t('Increment') %>:</label>
							<div class="col-sm-7">
								<input name="memoryIncrease" type="number" value="" maxlength="5" id="memoryIncrease" class="form-control taskField words_input" />
							</div>
						</div>

          				<div class="col-sm-7 col-sm-offset-5">
							<button type="button" class="btn btn-primary taskField" onclick="editor.addMemoryRule()"><%= t('Save rule') %></button>
						</div>

					</form>
				</div>

				<div id="fractions" class="form-group clearfix matchType">
					<form id="fractionTaskForm" class="form-horizontal" role="form">
						<div id="fractionWrapper">
							<div class="col-sm-4 text-center vcentered">
								<h3>
									<button type="button" class="btn btn-warning changeNumerator" value="decrease">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
									<span id="fractionNumerator" class="fractionNumber numerator">0</span>
									<input type="hidden" name="fractionNumeratorVal" id="fractionNumeratorVal" value="0"/>
									<button type="button" class="btn btn-success changeNumerator" value="increase">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</h3>
								<hr class="fractionLine">
								<h3>
									<button type="button" class="btn btn-warning changeDenominator" value="decrease">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
									<span id="fractionDenominator" class="fractionNumber denominator">1</span>
									<input type="hidden" name="fractionDenominatorVal" id="fractionDenominatorVal" value="1"/>
 									<button type="button" class="btn btn-success changeDenominator" value="increase">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</h3>
							</div>

							<div class="col-sm-3 text-center vcentered">
								<button type="submit" class="btn btn-primary"><%= t('Add task') %></button>
							</div>
						
						</div>
					</form>

					<div id="fractionTasks" class="drop clearfix"></div>

				</div>

				
				<div id="wordInterval" class="form-group clearfix matchInterval row">
					<form class="form-horizontal" role="form">
						<label for="wordIntervalList" class="col-sm-8 control-label"><%= t('Appearance interval') %>:</label>
	          			<div class="col-sm-4">
							<select id="wordIntervalList" class="form-control">
		  						<option value="4000">4 <%= t('seconds') %></option>
		  						<option value="6000">6 <%= t('seconds') %></option>
		  						<option value="8000">8 <%= t('seconds') %></option>
		  						<option value="10000">10 <%= t('seconds') %></option>
		  						<option value="12000">12 <%= t('seconds') %></option>
		  						<option value="14000">14 <%= t('seconds') %></option>
		  						<option value="16000">16 <%= t('seconds') %></option>
		  						<option value="18000">18 <%= t('seconds') %></option>
		  						<option value="20000">20 <%= t('seconds') %></option>
		  						<option value="30000">30 <%= t('seconds') %></option>
							</select>
						</div>
					</form>
				</div>

     	</div>	
      	
  		<div class="modal-footer" style="clear:left;">
  			<div class="warning" id="matchWarning"></div>
    		<i data-toggle="popover" data-content="<%= t('match_info') %>" class="pop fa fa-question-circle"></i>
    		<button type="button" class="btn btn-default" data-dismiss="modal"><%= t('Close') %></button>
  		</div>
  	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
