<!-- Modal INFO ############### INFO  -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
	<div class="modal-dialog">
 		<div class="modal-content">
  		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="infoModalLabel">Game instructions</h4>
  		</div>

      <div class="modal-body">

            <form id="gameInstructions" class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-4 control-label">Game name</label>
                <div class="col-sm-8">
                  <p class="form-control-static" id="gameTitle"></p>
                </div>
              </div>

              <div class="form-group">
                <label for="instructionTxt" class="col-sm-4 control-label">Write instructions for the player:</label>
                <div class="col-sm-8">
                  <textarea name="instructions" maxlength="500" id="instructionTxt" class="form-control" rows="8"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12 text-center">
                  <button type="submit" class="btn btn-primary">Save instructions</button>
                </div>
              </div>

            </form>

      </div><!-- /.modal-body -->

  		<div class="modal-footer">
    		<a  href="#" class="pop" data-toggle="popover" data-content="You should give an name to your game and write instructions. Try to write clear instructions and emphasize the main aim of the game.">Info</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  		</div>

  	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
