* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  font-size: 16px;
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

#cr-stage {
  background-color: #F2F2F2;
}

.highscore {
  font-size: 1em;
  background: #D6D6D6;
  width: auto !important;
  height: auto !important;

  h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  ol {
    margin: 0;
    padding: 10px 20px 10px 20px;
    list-style: none;
    min-width: 250px;
    min-height: 150px;
  }

  li {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    list-style: none;
    white-space: nowrap;
  }
}

.volume-button {
  cursor: pointer;
}


// loader

.loader-logo {
  width: 200px;
  height: 200px;
}

.loader {
  text-align: center;
  padding: 30px;

  .loader-procent {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 0;
  }
}

.StartButton {
  background-color: #3276B1 !important;
  border-color: #285E8E !important;
  line-height: 50px !important;
  color: #FFF !important;
  border-radius: 5px !important;
  cursor: pointer;

  &:hover, &:focus, &:active {
    background-color: #2A679B !important;
  }
}

.XButton {
  line-height: 18px !important;
  font-weight: bold !important;
}

.GameText {
  font-weight: bold !important;
}
