
.chest-container {
  padding: 5px;
  margin-bottom: 10px;
  .border-radius(6px);
  background-color: @brown;
  .magos-gradient();

  .chest {
    margin: 0;
    padding: 0;
    position: relative;

    li {
      display: block;
      float: left;
      width: 32px;
      height: 32px;
      background: rgba(158, 108, 2, 0.04);
      padding: 5px;
      margin: 2px;
      box-shadow: inset 0 0 10px #111;
      text-align: center;
    }

    .game-item, .scene-item {
      cursor: move;
    }

    .add-item .game-item {
      cursor: pointer;
    }

    .ui-state-target {
      background-color: #1FBE00;
    }

    .ui-state-active, .ui-selected {
      background: #EEA200;
    }

  }
}

.scene-chest-container {
  background-color: @principes;
  .magos-gradient();

  .scene-chest {
    .ui-state-active, .ui-selected {
      background: #C73DFF;
    }
  }

}

.magos-shoutbox input[type=text] {
  height:20px;
  line-height:20px;
  box-shadow:inset 0 0 6px black;
  border-color:#2C2929;
  color:#444;

  .calc-width(~"100% - 81px");
}

.magos-shoutbox-log {
  color: #555;
  line-height: 1.4;
  font-size: 1.1em;
  overflow: hidden;
  margin: 10px 0 0;
  padding: 5px;

  .box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));

  .transition(~"border linear 0.2s, box-shadow linear 0.2s");

  background-color: @whitesmoke;
  border: 1px solid #CCC;
  .border-radius(3px);
  box-shadow: inset 0 0 6px @black;
  border-color: #2C2929;
  margin-bottom: 5px;
  overflow-y: auto;
  height: 120px;

  .principes {
    color: @principes;
  }
  .physicus {
    color: @physicus;
  }
  .musicus {
    color: @musicus;
  }
  .artifex {
    color: @artifex;
  }

  table td {
    vertical-align:top;
  }
}

.help, .help .btn {
  cursor: help !important;
}

.magos-infobox {

  h4 {
    text-shadow:0 2px 6px #000;
    color: @white;
  }

  h4:not(:first-child) {
    margin-top: 10px;
  }

  .infobox-skillset {
    padding:10px;color:#fff;border-radius:3px;
  }

  .infobox-collapse .row-fluid {
    margin-top: 10px;
  }

  .infobox-skillset.infobox-musicus {
    margin-top:10px;
  }

  .infobox-physicus {
    background-color: @physicus;
  }

  .infobox-principes {
    background-color: @principes;
  }

  .infobox-musicus {
    background-color: @musicus;
  }

  .infobox-artifex {
    background-color: @artifex;
  }

  .infobox-physicus, .infobox-principes,
  .infobox-musicus, .infobox-artifex {
    .magos-gradient();
  }

  .font-preview {
    padding: 5px;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    > div > div > div > div {
      padding: 3px;
    }
  }

  .font-preview.empty {
    margin-top: 0;
  }

  .table {
    margin-bottom: 0;

    tr:first-child th,
    tr:first-child td {
      border-top: 0;
    }

    td:first-child {
      width: 33%;
      white-space: nowrap;
    }

    th, td {
      padding: 5px 5px;
      border-top: 1px solid rgba(221,221,221,0.06);
    }

    .sprite {
      margin-top: 10px;
    }

  }

}

.sidebar {
  color: @sidebarColor;

  h3 {
    cursor: move;
  }

  .sortable-item {
    position: relative;
    .box-sizing(border-box);
  }

  .busy-icon {
    position: absolute;
    right: 10px;
    top: 7px;
  }

  .magos-potions {
    position: relative;
    padding-right: 60px;
    min-height: 97px;
    margin-top: 10px;
    color: @white;
    .border-radius(4px);
    .magos-gradient();

    .icon-placeholder {
      cursor: move;
      border: 0;
      padding: 4px 7px 6px;
      border-radius: 4px;
      box-shadow: inset 0 0 10px #333;
    }

    .magos-icon {
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .potion-icon {

    }

    .table td {
      border: 0;
      font-weight: 700;
      line-height: 30px;
      padding: 4px 8px;
      text-shadow: 0 2px 6px black;
    }

    .table td:first-child {
      width: 31px;
      text-align: center;
    }

  }

  .magos-potions.principes {
    background-color: @principes;
    border: 1px solid darken(@principes, 10%);
  }

  .magos-potions.physicus {
    background-color: @physicus;
    border: 1px solid darken(@physicus, 10%);
  }

  .magos-potions.artifex {
    background-color: @artifex;
    border: 1px solid darken(@artifex, 20%);
  }

  .magos-potions.musicus {
    background-color: @musicus;
    border: 1px solid darken(@musicus, 2%);
  }

  .sortable-highlight {
    margin: 0 0 @baseMargin 0;
    height: 40px;
    background: darken(@green, 15%);
    border: 1px solid darken(@green, 20%);
    .border-radius(6px);
  }

}
