<html>
<head>
    <title>Crystall Ball</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/crystal.css" />
</head>
<body>
    
    <div class="container">
      <div id="cr-stage"></div>
    </div> <!-- /container -->

    <!-- libs & helper functions -->
    <script src="{{ STATIC_URL }}js/crystal/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/crystal/vendor/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/crystal/vendor/crafty-0.5.3-mod.js"></script>
    <script src="{{ STATIC_URL }}js/crystal/plugins.js"></script>
    <!-- game related js -->
    <script src="{{ STATIC_URL }}js/crystal/levels.js"></script>
    <script src="{{ STATIC_URL }}js/crystal/sounds.js"></script>
    <script src="{{ STATIC_URL }}js/crystal/sprites.js"></script>
    <script src="{{ STATIC_URL }}js/crystal/components.js"></script>
    <script src="{{ STATIC_URL }}js/crystal/scenes.js"></script>
    <script src="{{ STATIC_URL }}js/crystal/game.js"></script>

    <script>
    $(document).ready(function() {
        // Django Ajax CSRF token setup
        $.ajaxSetup({
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             }
        });

    }); // document ready
    </script>
</body>
</html>

