<html>
<head>
    <title>Crystall Ball</title>
    <link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
    <!--link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet"-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/crystal.css" />
</head>
<body>
    <p id="debug"><p>
    <div id="crystalInfo">
    </div>

    <div id="crystalBall">
        <canvas id='crystalBallCanvas' width='407px' height='407px'></canvas>
	<div id="crystalBallLens">
	    <div id="contentHolder" class="unselectable"></div>
        </div>
    </div>
	
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script>
    $(document).ready(function() {
        // Django Ajax CSRF token setup
        $.ajaxSetup({
             beforeSend: function(xhr, settings) {
                 function getCookie(name) {
                     var cookieValue = null;
                     if (document.cookie && document.cookie != '') {
                         var cookies = document.cookie.split(';');
                         for (var i = 0; i < cookies.length; i++) {
                             var cookie = jQuery.trim(cookies[i]);
                             // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
                 }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
             }
        });

    }); // document ready
    </script>

    <script src="{{ STATIC_URL }}js/crystal/crystal-info.js"></script>
    <script src="{{ STATIC_URL }}js/crystal/main.js"></script>
    <!--script src="http://remote-tilt.com/js/device-motion-polyfill.js"></script-->
</body>
</html>

