<!DOCTYPE html>
<html lang="en" ng-app="magosApp">
<head>
  <meta charset="utf-8">
  <title>Magos editor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link href="/editor-lite/static/css/vendor/font-awesome.min.css" rel="stylesheet" />
  <link href="/editor-lite/static/css/vendor/bootstrap-3.0.2.min.css" rel="stylesheet">
  <link href="/editor-lite/static/css/magos.css" rel="stylesheet">
  -->


</head>
<body>
