<!DOCTYPE html>
<html lang="en" ng-app="magosApp">
<head>
  <meta charset="utf-8">
  <title><%= t('Play') %> <%=title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Magos Lite">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="72x72" href="/editor-lite/static/img/magos-icon-72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/editor-lite/static/img/magos-icon-114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/editor-lite/static/img/magos-icon-144.png" />
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <link href="/editor-lite/static/css/vendor/font-awesome.min.css" rel="stylesheet" />
  <link href="/editor-lite/static/css/vendor/bootstrap-3.0.2.min.css" rel="stylesheet">
  <link href="/editor-lite/static/css/vendor/add2home.css" rel="stylesheet">
  <link href="/editor-lite/static/css/magos.css" rel="stylesheet">
</head>
<body>
