<!DOCTYPE html>
<html lang="en" ng-app="magosApp">
<head>
  <meta charset="utf-8">
  <title>Play <%=title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Magos lite">
  <meta name="mobile-web-app-capable" content="yes">
  <link href="/editor-lite/static/css/vendor/bootstrap-3.0.2.min.css" rel="stylesheet">
  <link href="/editor-lite/static/css/magos.css" rel="stylesheet">
</head>
<body>
